body {
    background-color: rgb(238, 219, 219);
}

h1 {
    text-decoration: overline;
    font-family:Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
div {
    width: 250px;
    border: 2px solid #bd0707;
    background-image: linear-gradient(to right, rgb(223, 162, 223), rgb(228, 204, 228), rgb(235, 235, 150));
    padding: 24px
    text-align: center;
    margin: 250px;
    border-radius: 16px;
}
